@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: '#6640FF';
  --color: '#6640FF';
}

@font-face {
  font-family: 'Satoshi';
  src: url('../public/assets/fonts/otf/Satoshi-Regular.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'Satoshi Bold';
  src: url('../public/assets/fonts/otf/Satoshi-Bold.otf') format('opentype');
  font-weight: bold;
}